@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import "libs/skel";
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic');
@import url('../css/font-awesome.min.css');

#me {
	display: flex;
	justify-content: center;
	align-items: center;

	table {
		td, th {
			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: rgba(221, 221, 221, 0.5);
		}
	}
}

#footer {
	.copyright {
		text-align: left;
	}
}
