/* Basic */
/* line 8, ../sass/ie8.scss */
body {
  background-image: url("images/bg.jpg");
  background-size: cover;
  -ms-behavior: url("assets/js/ie/backgroundsize.min.htc");
}

/* Section/Article */
/* line 17, ../sass/ie8.scss */
section > .last-child, section.last-child, article > .last-child, article.last-child {
  margin-bottom: 0;
}

/* Nav */
/* line 27, ../sass/ie8.scss */
#nav a span {
  display: none !important;
}
/* line 31, ../sass/ie8.scss */
#nav a:before {
  font-size: 1.75em;
}
